/checker/ethereum/resources/
/checker/tendermint/resources/
!/checker/tendermint/resources/default_checker_rules.yaml
!/checker/tendermint/resources/default_alert_definition.yaml

/monitor/tendermint/resources/local-data.sql
/monitor/node/resources/local-data.sql
.idea/
/checker/.config.toml
/monitor/.config.toml
.env
/alertmanager/config.toml
